html {
  height: 100%;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family-body;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  line-height: 1.4;
  min-height: 100vh;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-medium;
  font-weight: $font-weight-demi-bold;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

a {
  color: $color-text;
}

button {
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 11px;
  font-family: $font-family-body;
  font-weight: $font-weight-demi-bold;
  background: $color-accent-background;
  color: $color-accent-text;
  padding: 1px 6px 1px 6px;
}

button:focus, input[type="text"] {
  outline: 0;
}

input {
  font-family: $font-family-body;
}
