$color-background: #f5f3ee;
$color-text: #343434;

$color-dark-background: #373a47;
$color-semi-dark-background: #686c7f;

$color-accent-background: rgb(52, 152, 219);
$color-accent-text: #f5f3ee;

$color-bad: #da2d33;
