$font-family-body: 'Avenir Next', sans-serif;
$font-family-heading: 'Avenir Next', sans-serif;

$font-size-regular: 0.75rem;
$font-size-medium: 1.1rem;
$font-size-large: 1.5rem;

$font-weight-regular: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
