$font-family-body: 'Avenir Next', sans-serif;
$font-family-heading: 'Avenir Next', sans-serif;

$font-size-regular: 0.9rem;
$font-size-medium: 1.2rem;
$font-size-large: 2.2rem;

$font-weight-regular: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
