.InputTextField {
  font-size: $font-size-regular;
  font-family: $font-family-body;
  background: $color-background;
  border: 0;
  border-bottom: 1px solid $color-accent-background;
  width: 100%;
}
