.switch {
  border: 2px solid $color-accent-background;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  width: 48px;
  height: 17px;
  transition: left .2s ease-in-out;
  margin: 0 auto;
}

.switch.on {
  border: 2px solid $color-bad;
  .switch-toggle {
    background: $color-bad;
    left: 21px;
  }
}

.switch-toggle {
  background: $color-accent-background;
  border-radius: 3px;
  position: relative;
  left: 1px;
  top: 1px;
  width: 22px;
  height: 11px;
  transition: left .2s ease-in-out;
}

@media only screen 
    and (max-width: 800px) {
  .Switch__Label {
    display: none;
  }
}

.Switch__Label {
  padding-left: 6px;
  vertical-align: top;
}

.Switch__Label--Switched {
  color: $color-bad;
}
